md-dialog(aria-label="Create Item")
  form
    md-toolbar
      div(div class="md-toolbar-tools")
        h1(class="md-toolbar-tools") Create Item
        span(flex)
        md-button(aria-label="Reset", type="reset")
          md-tooltip(md-direction="bottom") Reset
          ng-md-icon(icon="refresh")
        md-button(aria-label="Cancel", ng-click="cancel()")
          md-tooltip(md-direction="bottom") Cancel
          ng-md-icon(icon="close")
    md-button(class="md-fab md-fab-bottom-right", aria-label="Save", ng-click="validate()")
      md-tooltip(md-direction="left") Save
      ng-md-icon(icon="save")
    md-dialog-content(class="sticky-container", layout="column", layout-padding, style="min-width:500px")
      div(layout="column")
        h4 Deprecated Item
        md-input-container(flex)
          label Group
          input(ng-model="item.deprecated_item.group" required)
        md-input-container(flex)
          label Name
          input(ng-model="item.deprecated_item.name" required)
        md-input-container(flex)
          label Description
          textarea(ng-model="item.deprecated_item.description", columns="1", md-maxlength="150")
        h4 Replacement Item
        md-input-container(flex)
          label Group
          input(ng-model="item.replaced_by.group" required)
        md-input-container(flex)
          label Name
          input(ng-model="item.replaced_by.name" required)
        md-input-container(flex)
          label Description
          textarea(ng-model="item.replaced_by.description", columns="1", md-maxlength="150")
        h4 Dates
          div(layout="row")
            h5(flex) Deprecation
            md-datepicker(name="deprecation", ng-model="item.deprecation_date", md-placeholder="Deprecation", required, flex)
          div(layout="row")
            h5(flex) Unusable
            md-datepicker(name="unusabel", ng-model="item.unusable_date", md-placeholder="Unusable", required, flex)
        h4 App
          md-input-container(flex)
            md-select(ng-model="item.belongs_to", required)
              md-option(ng-repeat="belong in belong_items track by $index") {{ belong }}