extends layout

block body
  nav(class='navbar navbar-inverse navbar-fixed-top')
    div(class='container-fluid')
      div(class='navbar-header')
        a(class='navbar-brand', href="#") Deprecated
  div(class='container-fluid')
    form