extends layout

block body
  div(layout='column', ng-cloak, class="full-height")
    md-toolbar(class="md-theme-indigo")
      div(div class="md-toolbar-tools")
        h1(class="md-toolbar-tools") Deprecated Items
    
       
        
  <!-- Angular Material Dependencies -->
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-aria.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js")
  <!-- Angular Material Javascript now available via Google CDN; version 0.11.2 used here -->
  script(src="https://material.angularjs.org/latest/angular-material.min.js")
  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js")
  script(src='js/app.js')
  script(src='js/controller_create.js')
  script(src='js/service_items.js')