extends layout

block body
  div(ng-controller='ItemCtrl', layout='column', ng-cloak, class="full-height")
    md-button(class="md-fab md-fab-bottom-right", aria-label="Add", ng-click="showAdd()")
      ng-md-icon(icon="add")
    md-toolbar(ng-show="!showSearch")
      div(div class="md-toolbar-tools")
        h1(class="md-toolbar-tools") Deprecated Items
        span(flex)
        md-button(aria-label="Search", ng-click="showSearch = !showSearch")
          ng-md-icon(icon="search")
    md-toolbar(class="md-hue-1", ng-show="showSearch")
      div(class="md-toolbar-tools")
        md-button(ng-click="showSearch = !showSearch", aria-label="Back")
          ng-md-icon(icon="arrow_back")
          h3(flex="10") Back
          md-input-container(md-theme="input", flex)
          label &nbsp;
          input(ng-model="search.who", placeholder="Enter search")
          md-button(aria-label="Search", ng-click="showSearch = !showSearch")
          ng-md-icon(icon="search")
    section(section layout="row" flex)
      md-sidenav(layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')")
        md-content
          md-list
            md-list-item
              md-button(class="menu-btn md-primary", ng-click="sortByApps()") Sort by application
            md-list-item
              md-button(class="menu-btn md-primary", ng-click="sortByRoot()") Sort by group
            md-list-item
              md-button(class="menu-btn md-primary", ng-click="sortByDate()") Sort by deprecation date
      md-content(flex layout-padding)
        div(layout="column" layout-fill layout-align="top center")
            div(ng-repeat="(group, items) in deprecatedItems" class="dep-item-group")
              md-toolbar(md-scroll-shrink ng-if="true") 
                h2(class="md-toolbar-tools") {{ group }}
              md-list
                md-list-item(class="md-3-line md-list-content", ng-repeat="item in items")
                  div(class="md-list-item-text item-content", layout="row", ng-click="showItem(item)")
                    div(flex="20")
                      span(class='item-info item-belongs') {{ item.belongs_to }}
                    div(flex="40", layout="column")
                      span(class='item-info item-group') {{ item.deprecated_item.group }}
                      span(class='item-info item-name') {{ item.deprecated_item.name }}
                    div(flex="40")
                      span(class='item-info item-date')
                        span(ng-if="item.unusable_in > 0 && item.unusable_in <= 365")
                          span(class="float-left") Unusable in &nbsp;
                          span(class="item-belongs criticity-{{ item.criticity }}") {{ item.unusable_in }} 
                          span(class="float-left") &nbsp; days
                        span(ng-if="item.unusable_in == 0 || item.unusable_in > 365", class="unusable") Unusable
    
                         
  <!-- Angular Material Dependencies -->
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-aria.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js")
  <!-- Angular Material Javascript now available via Google CDN; version 0.11.2 used here -->
  script(src="https://material.angularjs.org/latest/angular-material.min.js")
  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js")
  script(src='js/app.js')
  script(src='js/controller_items.js')
  script(src='js/controller_create.js')
  script(src='js/service_items.js')