doctype
html(ng-app="deprecatedWebApp")
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    base(href='/')
    title Deprecated Item List
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')