doctype
html(ng-app="deprecatedWebApp")
  head
    base(href='/')
    title Deprecated Item List
    link(rel="stylesheet", href="https://material.angularjs.org/latest/angular-material.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet', href='/css/app.css')
    meta(charset='utf8')
    meta(name="viewport", content="initial-scale=1")
  body
    block body